<!doctype html>
<html>
  <head>
    <title>Home page - ArtemBnB</title>
    {{> head}}
  </head>
    <body>
    {{> header}}
    {{> nav}}
    <main>
        <h2>Our Rooms.</h2>
        {{#if city}}
        <p><i> Here are all the results for {{city}}.</i></p>
        {{/if}}
        {{#if rooms}}
        <div id="rooms">
            {{#each rooms}}
            <div class="room">
                <a href="/room?id={{id}}"><img src="images/{{photoFile}}" alt="{{title}}" width="100%"></a>
                <a href="/room?id={{id}}"><p>{{title}} - {{location}}</p></a>
                <a href="/room?id={{id}}"><p>Cost - ${{price}}/day</p></a>
            </div>
            {{/each}}
        </div>
        {{else}}
        <h3>No rooms available</h3>
        {{/if}}
    </main>
    {{> footer}}
    </body>
</html>